




#title, #author, #pages, input{
   flex-basis: 100%;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#eceff1;
    width:100%;
}
.heading{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color:#78909c;
    
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   max-width:20em;
   padding: 20px;
   background-color:#b0bec5; ;
}
input{
    padding: 15px;
    margin: 5px 0 20px 0;
    background-color: #ffffff;
}

.submit{
    color: white;
    background-color:#04AA6D;;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 5%;
    margin-bottom: 15px;
}

.newbook{
    color: white;
    background-color:#04AA6D;;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 5%;
    margin: 15px;
    cursor: pointer;
}


.card{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.book-display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    color: black;
    background-color:#b0bec5; 
    margin: 0.5em;
    padding: 0.5em;
    width: 25%;

}
.remove{
    color: white;
    color:rgb(255, 0, 34);
    cursor: pointer;
    font-weight: bolder;

    
}


.book-display:nth-child(odd){
    background-color: #9dc8cf;

}
footer{
    position: fixed;
    bottom: 0;
    display:flex ;
    justify-content: center;
    margin-bottom: auto;
    background-color: #e2baad;
    width: 100%; 
    font-size: 1.2em;
    padding: 5px;
}

.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    padding: 10px;
  }

  thead,td {
    border: 1px solid #ddd;
    padding: 10px;
  }
thead {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
  }
tbody>tr:nth-child(odd){background-color: #f2f2f2;}

tbody>tr:hover {background-color: #ddd;}